{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "plugins": ["prettier", "@typescript-eslint", "jest"],
  "globals": {
    "console": true,
    "window": true,
    "document": true,
    "localStorage": true,
    "setTimeout": true,
    "FormData": true,
    "require": true,
    "module": true,
    "__dirname": true,
    "process": true,
    "exports": true,
    "Promise": true,
    "Array": true,
    "global": true,
    "Map": true,
    "Buffer": true
  },
  "rules": {
    "no-console": 0,
    "no-undef": 1,
    "no-unused-vars": 1,
    "semi": ["error", "never"],
    "no-useless-constructor": "off",
    "no-return-await": 2,
    "no-useless-catch": 2,
    "@typescript-eslint/no-useless-constructor": "error",
    "@typescript-eslint/member-delimiter-style": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/camelcase": "off",
    "object-curly-spacing": ["error", "always"],
    "allowMultiplePropertiesPerLine": 0,
    "prettier/prettier": ["error"],
    "no-mixed-spaces-and-tabs": 2,
    "sort-vars": 2,
    "curly": ["error", "all"]
  },
  "extends": [
    "prettier",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "plugin:jest/style"
  ]
}
