{
  "semi": false,
  "printWidth": 120,
  "singleQuote": true,
  "bracketSpacing": true,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "auto",
  "arrowParens": "avoid",
  "trailingComma": "none"
}
